# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary videos
temp_videos/

# Logs
*.log

# Model cache (important)
.cache/
huggingface/
torch/

# Build
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Secrets
.env.local
.env.production
